.btn_1, .btn_2, .regervation_part .btn_2:hover {
  background-image: -webkit-linear-gradient(to right, #649bff, #0070fa, #649bff);
  background-image: -o-linear-gradient(to right, #649bff, #0070fa, #649bff);
  background-image: linear-gradient(to right, #649bff, #0070fa, #649bff);
}

/* line 6, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_extends.scss */
.regervation_part .btn_2 {
  background-image: -webkit-linear-gradient(to right, #fff, #fff, #fff);
  background-image: -o-linear-gradient(to right, #fff, #fff, #fff);
  background-image: linear-gradient(to right, #fff, #fff, #fff);
}
